<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/portafolio-7367f.appspot.com/o/slider-home%2Fslider03.jpg?alt=media&token=ef1ca64a-8d76-4981-aedc-7a713a20960e" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/portafolio-7367f.appspot.com/o/slider-home%2Fslider02.jpg?alt=media&token=dc915ac8-b9c7-4e0e-ae8b-9f0412cad6d5" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/portafolio-7367f.appspot.com/o/slider-home%2Fslider01.jpg?alt=media&token=559499d6-3a09-4122-be17-307c0e156476" alt="Third slide">
        </div>
    </div>
</div>