<h4> - Contacto- </h4>
<p>Enviame un formulario con la solicitud o inquietud que tengas y en 24hs a 48hs respondere a la misma. ¡Muchas Gracias!</p>
<form>
    <fieldset>
        <div>
            <div>
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" required>
            </div>
            <div>
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputemail">email</label>
            <input type="Email" class="form-control" id="inputemail" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="inputphone">Telefono</label>
            <input type="number" class="form-control" id="inputphone" placeholder="Telefono" required>
        </div>
        <div class="form-group">
            <label for="textareacomentario">Comentario</label>
            <textarea id="textareacomentario"></textarea>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Sign in</button>

</form>